div#camera_panel {
	background-color: #222222;
	padding: 10px 0px 10px 0px;

	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	width: 100%;
}

div#camera {
	width: 600px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

.box{

	width: 200px;
	height: 150px;
	border: 1px solid black;
}

a#upload_btn {

}

div#SignUp_Modal {
	margin-left: 350px;
	width: 400px;
}

div#myTab {
	width: 600px;

	border: 0px solid;

	margin: auto auto auto auto;
}
